//primay color 
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%); 

//netural color 
$dark-blue-main-bg: hsl(217, 54%, 11%);
$dark-blue-card-bg: hsl(216, 50%, 16%);
$dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//typography 
$p-font-size: 18px; 
$font-outfit: 'Outfit', sans-serif;
//font-weight: 300,400,600

//media breakpoint 
$breakpoint-tablet: 768px;

body {
    background: $dark-blue-main-bg;
    font-family: $font-outfit;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: $dark-blue-card-bg;
    width: 17.4rem;
    height: 31rem;
    border-radius: 1rem;
    padding: 1.5em;

    @media screen and (min-width: $breakpoint-tablet) {
        width: 18.8rem;
        height: 34rem;
    }
}

h1 {
    color: $white;
    font-size: 1.375rem;
    &:hover {
        color: $cyan;
        cursor: pointer;
    }
    @media screen and (min-width: $breakpoint-tablet) {
        margin: 1.3rem 0 1.2rem 0
    }
}


p {
    color: $soft-blue;
    font-weight: 300;
    font-size: $p-font-size;
    line-height: 1.6rem;

    @media screen and (min-width: $breakpoint-tablet) {
        margin-bottom: 1.6rem
    }
}

.nft-detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid $dark-blue-line;
    padding-bottom: 1em;

    @media screen and (min-width: $breakpoint-tablet) {
        padding-bottom: 1.4em;
    }
}

.detail-align {
    display: flex;
    align-items: center;
}

span {
    margin-left: 0.3rem;
    font-size: 15px;
}

.eth-font {
    color: $cyan;
}

.day-font {
    color: $soft-blue
}

.user-detail {
    display: flex;
    align-items: center;
    padding-top: 1em;
}

.avatar-img {
    height: 2rem;
    border: 0.07rem solid $white;
    border-radius: 100%;;
}

.creator {
    color: $white;
    padding-left: 0.3em;
    &:hover {
        color: $cyan;
        cursor: pointer;
    }
}

.creation-of {
        color: $soft-blue; 
        font-size: 15px;
        font-weight: 300;
        padding-left: 1rem;
        display: flex;
}

.attribution {
    margin: 1em;
    font-size: 0.5rem;
    color: $dark-blue-line;
    display: flex;
}


.img-container {
    position: relative;
    cursor: pointer; 
    overflow: hidden;
    border-radius: 0.5rem;


    &:after {
        content:''; 
        position: absolute;
        width: 400px; 
        height: 400px; 
        background-color: $cyan;
        top: -25%; 
        left: -25%;
        opacity: 0;
        transition: opacity .8s; 
    }

    &:hover:after {
        opacity: 0.5;
    }

    &:hover .view{
        opacity: 1;
        }
}

.nft-img {
    max-width: 100%;
    display: block;
}

.view {
    position: absolute;
    z-index: 5;
    top: 41%; 
    left: 41%;
    opacity: 0;
    transition: opacity .8s; 
}